<h1> Home Page </h1>

<ul>
<% authorList.forEach(function(author){ %>
  <li>
  <%= author.id %> -
  <%= author.name %> -
  Posts: <%= author.posts.length %>
  </li>

 <% }) %>
 </ul>

 <form method="post" action="/posts">
 <select name="author">
 <% authorList.forEach(function(author){ %>
  <option value="<%= author.id %>">
    <%= author.name %>
  </option>
 <% }) %>
 </select><br><br>
 <input type="text" placeholder="title" name="title"><br><br>
 <textarea name="content"></textarea><br><br>
 <input type="submit" value="Save">
 </form>
